
<h2>Welcome to coffeecodee judge</h2>


<form action='/newproblem' method="POST">

    <h6>Nombre del problema</h6>

    <input type="text" name="name" id="">

    <h6>Problema</h6>

    <textarea name="problem" id="" cols="30" rows="10"></textarea>

    <h6>Input</h6>

    <textarea name="input" id="" cols="30" rows="10"></textarea>

    <h6>Output</h6>

    <textarea name="Output" id="" cols="30" rows="10"></textarea>

    <h6>Example in</h6>

    <textarea name="Ein" id="" cols="30" rows="10"></textarea>

    <h6>Example out</h6>

    <textarea name="Eout" id="" cols="30" rows="10"></textarea>

    <input type="submit" value="Subir">

</form>